<div class="rn-portfolio-area rn-section-gap section-separator" id="portfolio">
    <div class="container">
        <div class="row mb-5">
            <div class="col-lg-12">
                <div class="section-title text-center">
                    <span class="subtitle">Visit my portfolio and keep your feedback</span>
                    <h2 class="title">My Portfolio</h2>
                </div>
            </div>
        </div>

        <div class="row row--25 mt--10 mt_md--10 mt_sm--10">
            <!-- Start Single Portfolio -->
            <div class="col-lg-6 col-xl-4 col-md-6 col-12  mb-5">
                <div class="rn-portfolio">
                    <div class="inner">
                        <div class="thumbnail">
                            <a (click)="openVerticallyCentered(content)">
                                <img src="./assets/comptech.png" alt="Personal Portfolio Images">
                            </a>
                        </div>
                        <div class="content">
                            <div class="category-info">
                                <div class="category-list">
                                    <a (click)="openVerticallyCentered(content)">Design - Development</a>
                                </div>
                            </div>
                            <h4 class="title"><a (click)="openVerticallyCentered(content)">CompTech HubSpot Theme</a></h4>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Popup -->
            <ng-template #content let-modal>
                <div class="modal-header">
                    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
                </div>
                <div class="modal-body">
                    <div class="row align-items-center">
                        <div class="col-lg-6">
                            <div class="portfolio-popup-thumbnail">
                                <div class="image">
                                    <img class="w-100" src="./assets/comptech.png" alt="slide">
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-6">
                            <div class="text-content">
                                <h3>
                                    <span>Design - Development</span> HubSpot Theme.
                                </h3>
                                <p class="mb--30">Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate distinctio assumenda explicabo veniam temporibus eligendi.</p>
                                <p>Consectetur adipisicing elit. Cupiditate distinctio assumenda. dolorum alias suscipit rerum maiores aliquam earum odit, nihil culpa quas iusto hic minus!</p>
                                <div class="button-group">
                                    <a href="https://www.computan.com/comptech" target="_blank" class="rn-btn">
                                        <span>VIEW PROJECT</span>
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-right"><polyline points="9 18 15 12 9 6"></polyline></svg>
                                    </a>
                                </div>

                            </div>
                            <!-- End of .text-content -->
                        </div>
                    </div>
                    <!-- End of .row Body-->
                </div>
            </ng-template>
            <!-- End Single Portfolio -->

            <!-- Start Single Portfolio -->
            <div class="col-lg-6 col-xl-4 col-md-6 col-12  mb-5">
                <div class="rn-portfolio">
                    <div class="inner">
                        <div class="thumbnail">
                            <a href="https://www-computan-com.sandbox.hs-sites.com/hub-smart">
                                <img src="./assets/hub-smart.png" alt="Personal Portfolio Images">
                            </a>
                        </div>
                        <div class="content">
                            <div class="category-info">
                                <div class="category-list">
                                    <a href="https://www-computan-com.sandbox.hs-sites.com/hub-smart">Design - Development</a>
                                </div>
                            </div>
                            <h4 class="title"><a href="https://www-computan-com.sandbox.hs-sites.com/hub-smart">Hub-Smart HubSpot Theme</a></h4>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Single Portfolio -->

            <!-- Start Single Portfolio -->
            <div class="col-lg-6 col-xl-4 col-md-6 col-12  mb-5">
                <div class="rn-portfolio">
                    <div class="inner">
                        <div class="thumbnail">
                            <a href="http://student-alert.com/">
                                <img src="./assets/student-alert.png" alt="Personal Portfolio Images">
                            </a>
                        </div>
                        <div class="content">
                            <div class="category-info">
                                <div class="category-list">
                                    <a href="http://student-alert.com/">Development</a>
                                </div>
                            </div>
                            <h4 class="title"><a href="http://student-alert.com/">Student-Alert WordPress site</a></h4>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Single Portfolio -->

            <!-- Start Single Portfolio -->
            <div class="col-lg-6 col-xl-4 col-md-6 col-12  mb-5">
                <div class="rn-portfolio">
                    <div class="inner">
                        <div class="thumbnail">
                            <a href="https://www.esportsgroup.net/">
                                <img src="./assets/esportsgroup.png" alt="Personal Portfolio Images">
                            </a>
                        </div>
                        <div class="content">
                            <div class="category-info">
                                <div class="category-list">
                                    <a href="https://www.esportsgroup.net/">Development</a>
                                </div>
                            </div>
                            <h4 class="title"><a href="https://www.esportsgroup.net/">Esports Group WordPress site</a></h4>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Single Portfolio -->

            <!-- Start Single Portfolio -->
            <div class="col-lg-6 col-xl-4 col-md-6 col-12  mb-5">
                <div class="rn-portfolio">
                    <div class="inner">
                        <div class="thumbnail">
                            <a href="https://www.recruitics.com/">
                                <img src="./assets/recruitics.png" alt="Personal Portfolio Images">
                            </a>
                        </div>
                        <div class="content">
                            <div class="category-info">
                                <div class="category-list">
                                    <a href="https://www.recruitics.com/">Development</a>
                                </div>
                            </div>
                            <h4 class="title"><a href="https://www.recruitics.com/">Recruitics HubSpot Site</a></h4>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Single Portfolio -->

            <!-- Start Single Portfolio -->
            <div class="col-lg-6 col-xl-4 col-md-6 col-12  mb-5">
                <div class="rn-portfolio">
                    <div class="inner">
                        <div class="thumbnail">
                            <a href="https://www.computan.com/loremipsum">
                                <img src="./assets/HS-theme.png" alt="Personal Portfolio Images">
                            </a>
                        </div>
                        <div class="content">
                            <div class="category-info">
                                <div class="category-list">
                                    <a href="https://www.computan.com/loremipsum">Development</a>
                                </div>
                            </div>
                            <h4 class="title"><a href="https://www.computan.com/loremipsum">HubSpot Theme</a></h4>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Single Portfolio -->
        </div>
    </div>
</div>